@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  color: #0c2461;
  font-size: 35px;
  word-spacing: 5px;
  line-height: 40px;
}

h4 {
  color: #fb4f31;
  font-weight: 500;
  word-spacing: 4px;
  font-size: 14px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

i {
  color: #FF5740;
}

p {
  font-family: "Barlow", sans-serif;
  color: #3c6382;
  font-size: 18px;
  word-spacing: 5px;
  line-height: 28px;
}

nav {
  margin-top: 18px;
}
nav .header-contacts {
  text-align: center;
  line-height: 25px;
  letter-spacing: 0.2px;
}
nav .icons-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav .icons-header li {
  border: 1px solid #FF5740;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 15px;
  margin: 15px 0px;
  margin-left: 12px;
}
nav section {
  position: relative;
  margin: 20px 30px;
}
nav section .logo {
  display: flex;
  font-size: 25px;
  align-items: center;
}
nav section .logo .icon-recycle, nav section .logo h2 {
  margin: 0 2px;
}
nav section .logo h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #FF5740;
}
nav section .desktop-nav {
  text-align: center;
  display: none;
}
nav section .desktop-nav li {
  padding: 0.5rem 1rem;
  line-height: 25px;
}
nav section .desktop-nav a {
  color: #130f40;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
nav section .desktop-nav .features {
  color: #FF5740;
}
nav section .desktop-nav button {
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #FF5740;
  color: white;
  border: 1px solid #FF5740;
  border-radius: 5px;
  padding: 13px 24px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}
nav section label {
  background-color: #FF5740;
  width: 50px;
  height: 35px;
  border: 1px solid #FF5740;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
nav section label i {
  color: white;
  font-size: 20px;
  text-align: center;
}
nav section #toggle {
  display: none;
}
nav section #toggle:checked + .desktop-nav {
  display: block;
}

main .hero1 {
  padding: 100px 0;
  background-color: #fbd7b5;
  text-align: center;
}
main .hero1 h1 {
  color: #0c2461;
  font-size: 45px;
  font-weight: 700;
  margin: 0 14.7px;
  line-height: 55px;
  margin-bottom: 20px;
}
main .hero1 h4 {
  font-size: 18px;
}
main .hero1 p {
  margin: 0 5px;
  font-weight: 400;
  margin-bottom: 60px;
  padding: 0 10px;
  font-size: 18px;
}
main .hero1 h2 {
  color: #0c2461;
  margin-top: 42px;
  font-weight: 500;
  margin-bottom: 55px;
  font-size: 24px;
}
main .hero1 img {
  max-width: 250px;
  height: auto;
}
main .hero1 a {
  text-decoration: none;
  background-color: #FF5740;
  color: white;
  border: 1px solid #FF5740;
  border-radius: 5px;
  padding: 13px 38px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}
main .hero2 {
  margin: 0 15px;
}
main .hero2 img {
  margin: 70px 0;
  max-width: 350px;
  height: auto;
}
main .hero2 .img2 .secondphoto {
  display: none;
}
main .hero2 p {
  margin: 16px 0;
  font-size: 16px;
}
main .hero2 ul {
  font-size: 18px;
  font-weight: 500;
  color: #0c2461;
  line-height: 40px;
}
main .hero2 .ul2 {
  margin-bottom: 50px;
}
main .hero2 a {
  text-decoration: none;
  background-color: #FF5740;
  color: white;
  border: 1px solid #FF5740;
  border-radius: 5px;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}
main .hero3 {
  background-color: #F6F3EA;
  text-align: center;
  margin-top: 100px;
  padding: 80px 30px;
  padding-bottom: 25px;
}
main .hero3 p {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 50px;
}
main .hero3 div div {
  font-size: 35px;
  margin-bottom: 20px;
}
main .hero3 div h3 {
  color: #0c2461;
  font-weight: 500;
  font-size: 25px;
}
main .hero3 div p {
  word-spacing: 0px;
  line-height: 28px;
}
main .hero4 {
  text-align: center;
  padding: 0 10px;
}
main .hero4 h4 {
  padding-top: 80px;
}
main .hero4 p {
  margin-top: 8px;
  margin-bottom: 45px;
  font-size: 16px;
  word-spacing: 0px;
  line-height: 28px;
}
main .hero4 div .photo {
  background-image: url(img3.jpg);
  max-width: 100%;
  height: 480px;
  border-radius: 4%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .hero4 div a {
  background-color: #fc6754;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}
main .hero4 div a i {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 24px;
  left: 28px;
}
main .hero5, main .hero7 {
  background-color: #F6F3EA;
  text-align: center;
  margin-top: 80px;
  padding: 80px 20px;
  padding-bottom: 25px;
}
main .hero5 p, main .hero7 p {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  word-spacing: 0px;
  line-height: 28px;
}
main .hero5 button, main .hero5 a, main .hero7 button, main .hero7 a {
  text-decoration: none;
  background-color: #FF5740;
  color: white;
  border: 1px solid #FF5740;
  border-radius: 5px;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}
main .hero5 img, main .hero7 img {
  max-width: 250px;
  height: auto;
  margin: 50px 0;
}
main .hero6 {
  text-align: center;
  padding: 0 10px;
  padding-top: 70px;
}
main p {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  word-spacing: 0px;
  line-height: 28px;
}
main .feedbacks .feedback1, main .feedbacks .feedback3 {
  display: none;
}
main .feedbacks .container {
  border: 3px solid rgba(58, 130, 189, 0.1);
  border-radius: 4%;
  padding: 40px 50px;
  margin: 30px 15px;
}
main .feedbacks .container p {
  font-size: 16px;
  margin-bottom: 40px;
  word-spacing: 0px;
  line-height: 25px;
  color: #425f79;
  font-weight: 400;
}
main .feedbacks .container .stars {
  margin-top: 15px;
}
main .feedbacks .container .stars i {
  color: #f0932b;
}
main .feedbacks .container .img-feedback {
  margin-top: 50px;
}
main .feedbacks .container .img-feedback img {
  border-radius: 50%;
  width: 40%;
}
main .feedbacks .container h2 {
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
}
main .feedbacks .container h6 {
  color: #0c2461;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
}
main .bubbles {
  display: flex;
  justify-content: center;
}
main .bubbles .bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0c2461;
  margin: 0 5px;
}
main .hero7 .buyNow {
  background-color: white;
  border-radius: 4%;
  padding-bottom: 60px;
}
main .hero7 .buyNow h3 {
  color: #0c2461;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}
main .hero7 .buyNow h5 {
  color: #3b04db;
  margin: 10px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 30px;
}
main .hero7 .buyNow img {
  max-width: 70%;
}
main .hero7 .buyNow .stars {
  margin-top: 10px;
  font-size: 13px;
}
main .hero7 .buyNow .stars i {
  color: #ffb400;
  margin: 0 4px;
}
main .hero7 .buyNow a {
  padding: 12px 32px;
  opacity: 1;
  font-weight: 500;
}
main .hero7 .arrows {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
main .hero7 .arrows .icon-angle {
  width: 50px;
  height: 50px;
  border-radius: 4%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 0 10px;
}
main .hero7 .one, main .hero7 .two {
  display: none;
}
main .hero8 {
  padding: 70px 15px;
}
main .hero8 .questions-header {
  text-align: center;
}
main .hero8 .question h4 {
  color: #0c2461;
  font-size: 25px;
  word-spacing: 3px;
  line-height: 35px;
  margin-bottom: 5px;
  font-weight: 550;
}
main .hero9 {
  background-color: #F6F3EA;
  padding: 80px 15px;
  text-align: center;
}
main .hero9 form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
main .hero9 input[type=text] {
  width: 100%;
  height: 50px;
  border: 0;
  font-size: 16px;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  border: 1px solid #ced4da;
  border-radius: 0.25rem 0 0 0.25rem;
}
main .hero9 button {
  background-color: #ff6348;
  color: #fff;
  border: 0;
  height: 50px;
  padding: 0 20px;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 18px;
  margin-left: -1px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}
main .hero10 {
  padding: 0 15px;
}
main .hero10 img {
  padding-top: 80px;
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}
main .hero10 h2 {
  padding-right: 10px;
  font-weight: 700;
  line-height: 46px;
}
main .hero10 .why-choose {
  display: flex;
  padding-bottom: 40px;
}
main .hero10 .why-choose h4 {
  color: #0c2461;
  font-size: 22px;
  word-spacing: 3px;
  line-height: 32px;
  margin-bottom: 35px;
  font-weight: 500;
  padding: 0 25px;
}
main .hero11 {
  background-color: #F6F3EA;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 15px;
}
main .hero11 .hero11-single {
  margin-bottom: 57px;
}
main .hero11 .hero11-single i {
  border: 3px solid white;
  padding: 20px;
  background-color: white;
  border-radius: 8%;
}
main .hero11 .hero11-single h2 {
  margin-top: 50px;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: -11px;
}
main .hero12 {
  padding: 0 15px;
  padding-top: 80px;
}
main .hero12 h4, main .hero12 h2, main .hero12 p {
  text-align: center;
}
main .hero12 form label, main .hero12 form input, main .hero12 form button {
  display: block;
}
main .hero12 form input {
  height: 50px;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #daecfd;
  border-radius: 4%;
  font-size: 15px;
  padding: 0 10px;
}
main .hero12 form label {
  font-weight: 600;
  color: #0c2461;
  margin-top: 25px;
}
main .hero12 form textarea {
  height: 200px;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #daecfd;
  border-radius: 4%;
  padding: 7px 10px;
  font-size: 15px;
}
main .hero12 form button {
  background-color: #ff6348;
  color: #fff;
  border: 0;
  height: 50px;
  padding: 10px 35px;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}
main .hero12 .contacts h3 {
  font-size: 20px;
  font-weight: 500;
  color: #0c2461;
}
main .hero12 .contacts .contact {
  margin: 40px 0;
  line-height: 30px;
}
main .hero12 .contacts h5 {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #3c6382;
}
main .hero12 .icon-map, main .hero12 .icon-email, main .hero12 .icon-phone, main .hero12 h3 {
  display: inline;
}

footer {
  background-color: #F6F3EA;
  padding-top: 65px;
}
footer .logo {
  padding: 0 15px;
  margin-bottom: 25px;
}
footer .logo .icon-recycle {
  display: inline;
  font-size: 24px;
}
footer .logo h2 {
  display: inline;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #FF5740;
}
footer .logo p {
  color: #0c2461;
  font-size: 16px;
  word-spacing: 0;
}
footer ul {
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
footer ul li {
  font-size: 18px;
}
footer ul li a {
  text-decoration: none;
  color: #0c2461;
  line-height: 45px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}
footer form {
  padding: 0 15px;
  position: relative;
  margin-bottom: 25px;
}
footer form input[type=email] {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: 0;
  padding-left: 30px;
  font-size: 16px;
}
footer form button {
  border: 0;
  height: 50px;
  border-radius: 30px;
  padding: 0 30px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 25px;
  top: 5px;
  background: #ff6348;
  font-size: 16px;
}
footer .follow {
  padding: 0 15px;
}
footer .follow h3 {
  color: #0c2461;
  line-height: 45px;
  font-weight: 500;
  font-size: 20px;
}
footer .follow ul {
  display: flex;
  margin-top: -3px;
  margin-bottom: 60px;
}
footer .follow ul li {
  margin: 0 5px;
}
footer .follow ul li a i {
  color: black;
  border: 1px solid white;
  background: white;
  padding: 12px 12px;
  border-radius: 50%;
}
footer .last {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
footer .last p {
  padding-top: 20px;
  font-weight: 500;
  font-size: 16px;
  word-spacing: 0;
}
footer .last a {
  display: block;
  text-decoration: none;
  color: #ff6348;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 400;
}

@media screen and (min-width: 770px) {
  h4 {
    font-size: 18px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  p {
    font-size: 18px;
  }

  .contacts-icon {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .contacts-icon .header-contacts {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  .contacts-icon .header-contacts li {
    padding-right: 15px;
  }
  .contacts-icon .icons-header {
    border: 0;
    padding-right: 15px;
  }

  main .hero1 {
    display: flex;
    justify-content: left;
  }
  main .hero1 .hero1-info {
    text-align: left;
    margin-left: 25px;
    padding-top: 50px;
    margin-bottom: 30px;
  }
  main .hero1 .hero1-info h4 {
    font-size: 21px;
  }
  main .hero1 .hero1-info h1 {
    margin-left: 0;
  }
  main .hero1 .hero1-info h2 {
    display: inline;
    padding-left: 25px;
    font-size: 25px;
  }
  main .hero1 .hero1-info p {
    padding-right: 25px;
  }
  main .hero1 .hero1-info a {
    padding: 18px 28px;
    margin-left: 25px;
  }
  main .hero1 .img1 {
    padding-right: 35px;
  }
  main .hero2 {
    display: flex;
    padding-top: 100px;
    align-items: center;
  }
  main .hero2 h2 {
    padding-right: 30px;
    line-height: 50px;
  }
  main .hero2 .list-properties {
    padding-top: 45px;
    display: flex;
  }
  main .hero2 .list-properties .ul2 {
    padding-left: 15px;
  }
  main .hero2 .img2 .secondphoto {
    display: block;
  }
  main .hero2 .img2 {
    position: relative;
  }
  main .hero2 img {
    max-width: 300px;
  }
  main .hero2 .firstphoto {
    position: absolute;
    top: 40px;
    max-width: 290px;
  }
  main .hero2 .hero2-info {
    padding: 0 35px;
  }
  main .hero2 a {
    padding: 18px 28px;
    opacity: 1;
  }
  main .hero3 .hero3-info {
    padding: 0 60px;
  }
  main .hero3 p {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #3c6382;
    padding-right: 35px;
    margin-top: 20px;
  }
  main .hero3 .all-features {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
  }
  main .hero3 .all-features .features {
    display: flex;
    text-align: left;
  }
  main .hero3 .all-features .features h3, main .hero3 .all-features .features .icon {
    display: inline;
  }
  main .hero3 .all-features .features p {
    padding-right: 0;
  }
  main .hero4 {
    padding: 0 40px;
  }
  main .hero4 h2 {
    padding-left: 120px;
    padding-right: 120px;
    line-height: 50px;
  }
  main .hero4 p {
    padding: 0 50px;
    font-size: 18px;
    padding-bottom: 25px;
  }
  main .hero5 {
    display: flex;
    padding-bottom: 100px;
  }
  main .hero5 .hero5-info {
    text-align: left;
    padding-left: 20px;
  }
  main .hero5 .hero5-info h2 {
    padding-right: 60px;
  }
  main .hero5 .hero5-info p {
    font-size: 18px;
    color: #3c6382;
    padding-right: 60px;
    padding-bottom: 30px;
  }
  main .hero5 .img4 {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  main .hero6 {
    padding-top: 100px;
  }
  main .hero6 p {
    padding: 0 70px;
    font-size: 18px;
    padding-bottom: 30px;
  }
  main .hero6 .feedbacks {
    display: flex;
  }
  main .hero6 .feedback1 {
    display: block;
  }
  main .hero6 .container {
    margin: 0 20px;
    padding: 0;
    padding: 50px 25px;
  }
  main .hero6 .container p {
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
  }
  main .hero6 .container .stars {
    margin-top: 30px;
  }
  main .hero6 .container .img-feedback img {
    width: 35%;
  }
  main .hero6 .bubbles {
    margin-top: 40px;
  }
  main .hero6 .bubbles .one, main .hero6 .bubbles .two {
    display: none;
  }
  main .hero6 .bubbles .four {
    background-color: #ff6348;
  }
  main .hero7 {
    padding-bottom: 50px;
  }
  main .hero7 p {
    padding-right: 80px;
    padding-left: 80px;
    font-size: 18px;
    padding-bottom: 50px;
  }
  main .hero7 h2 {
    padding-right: 80px;
    padding-left: 80px;
  }
  main .hero7 .container-buyNow {
    display: flex;
  }
  main .hero7 .one {
    display: block;
  }
  main .hero7 .buyNow {
    margin: 0 20px;
    padding: 0;
    padding: 50px 25px;
  }
  main .hero7 .buyNow p {
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
  }
  main .hero7 .buyNow .stars {
    margin-top: 20px;
  }
  main .hero7 .buyNow .img5 img {
    width: 100%;
  }
  main .hero8 .questions-header h2 {
    padding: 0 100px;
  }
  main .hero8 .questions-header p {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #3c6382;
    padding: 0 70px;
    margin-top: 20px;
  }
  main .hero8 .container-questions {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }
  main .hero8 .container-questions .question {
    max-width: 45%;
  }
  main .hero8 .container-questions .question p {
    font-size: 18px;
  }
  main .hero9 p {
    font-size: 18px;
    padding: 0 70px;
  }
  main .hero9 form {
    padding: 0 60px;
    padding-bottom: 40px;
  }
  main .hero9 form input[type=text], main .hero9 form button {
    height: 65px;
  }
  main .hero10 {
    display: flex;
    padding-top: 100px;
    align-items: center;
    padding-bottom: 50px;
  }
  main .hero10 h4 {
    padding-left: 50px;
  }
  main .hero10 h2 {
    padding-right: 100px;
    padding-left: 50px;
  }
  main .hero10 p {
    font-size: 18px;
    padding-right: 70px;
    line-height: 30px;
    padding-left: 50px;
  }
  main .hero10 img {
    margin-bottom: 255px;
    width: 500px;
    padding-left: 15px;
  }
  main .hero10 .product-information {
    padding-left: 50px;
  }
  main .hero10 .product-information .why-choose {
    padding-bottom: 0;
    padding-right: 50px;
  }
  main .hero11 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
  }
  main .hero11 .hero11-single {
    display: flex;
    padding: 0 20px;
  }
  main .hero11 .hero11-single i {
    padding: 15px;
  }
  main .hero11 .hero11-single .icon-van, main .hero11 .hero11-single .icon-rocket, main .hero11 .hero11-single .icon-credit {
    margin-top: 20px;
  }
  main .hero11 .hero11-single .hero11-info {
    text-align: left;
    padding-left: 15px;
  }
  main .hero11 .hero11-single .hero11-info h2 {
    padding: 0;
    margin: 0;
    padding-top: -65px;
    line-height: 25px;
  }
  main .hero12 {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 120px;
    align-items: center;
  }
  main .hero12 .hero12-info h2, main .hero12 .hero12-info h4, main .hero12 .hero12-info p {
    text-align: left;
  }
  main .hero12 .hero12-info p {
    padding-right: 150px;
    font-size: 18px;
    line-height: 30px;
  }
  main .hero12 .contacts {
    padding: 0 40px;
    padding-top: 160px;
  }
  main .hero12 .contacts h5 {
    font-size: 18px;
  }

  footer {
    padding-right: 30px;
    padding-left: 30px;
  }
  footer .footer-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
  }
  footer .footer-info .logo, footer .footer-info ul {
    width: 48%;
  }
  footer .footer-info .logo, footer .footer-info .ulOne {
    margin-bottom: 55px;
  }
  footer .footer-info form, footer .footer-info .ulTwo {
    margin-bottom: 50px;
  }
  footer .footer-info .logo {
    width: 52%;
  }
  footer .footer-info .logo p {
    font-size: 18px;
    line-height: 30px;
  }
  footer .footer-info form input[type=email] {
    max-width: 100%;
    padding-right: 110px;
  }
  footer .footer-info form button {
    padding: 15px 20px;
    margin-right: 10px;
  }
  footer .last {
    padding: 30px 0;
  }
  footer .last p {
    display: inline;
  }
  footer .last p a {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  header .label {
    display: none;
  }
  header section {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  header nav .desktop-nav {
    display: flex;
    justify-content: center;
  }
  header nav .desktop-nav ul {
    display: flex;
    padding-right: 55px;
    padding-top: 10px;
  }

  main .hero1 {
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
  }
  main .hero1 .img1 {
    width: 50%;
  }
  main .hero1 .img1 img {
    max-width: 100%;
    height: auto;
  }
  main .hero1 .hero1-info {
    width: 50%;
  }
  main .hero1 .hero1-info h1 {
    padding-right: 500px;
  }
  main .hero1 .hero1-info p {
    padding-right: 200px;
    font-size: 20px;
  }
  main .hero2 {
    justify-content: space-between;
  }
  main .hero2 .img2 {
    width: 60%;
  }
  main .hero2 .img2 img {
    max-width: 100%;
    height: auto;
  }
  main .hero2 .img2 .firstphoto {
    top: 105px;
    left: 50px;
  }
  main .hero2 .hero2-info {
    width: 40%;
  }
  main .hero2 .hero2-info p {
    font-size: 20px;
  }
  main .hero3 {
    max-width: 100%;
  }
  main .hero3 .attractive-design, main .hero3 .notification-alart, main .hero3 .instant-video {
    display: inline;
    max-width: 29%;
  }
}

/*# sourceMappingURL=app.css.map */
